<include file='../Application/Admin/View/Layouts/header.html'/>
<include file='../Application/Admin/View/Layouts/nav.html'/>

<!-- Page -->
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">老用户优惠券管理</h1>
    </div>
    <div class="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">列表</h3>
            </div>
            <div class="panel-body">
                <if condition="($noId)">
                    {$noId}
                    <else/>
                    <form class="bs-example bs-example-form"  action="__APP__/Coupon/indexNew" method="post">
                        <div class="col-lg-6">
                            <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">搜索</button>
                            </span>
                                <input type="text" name="keyword" class="form-control" placeholder="输入手机号码搜索">
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </form>

                    <table class="table table-bordered">
                        <caption>边框表格布局</caption>
                        <thead>
                        <tr>
                            <th>用户名/手机号</th>
                            <th>性别</th>
                            <th>注册时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach  name="needInfo" item="v">
                            <tr>
                                <td>{$v.username}</td>
                                <td>
                                    <if condition="$v.sex eq 1">
                                        男
                                        <else/>
                                        女
                                    </if>
                                </td>
                                <td>{$v.ctime|date='Y-m-d H:i:s',###}</td>
                                <td><a href="__APP__/Coupon/gift/id/{$v.id}"><button>赠送优惠券</button></a></td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <a href="__APP__/Coupon/gift/status/1"><button type="button" class="btn btn-success">赠送所有</button></a><br/>
                    {$page}
                </if>
            </div>

        </div>
    </div>
</div>
<!-- End Page -->


<include file='../Application/Admin/View/Layouts/footer.html'/>
