<include file='../Application/Admin/View/Layouts/header.html'/>
<include file='../Application/Admin/View/Layouts/nav.html'/>

<!-- Page -->
<div class="page animsition">
    <div class="page-header">
        <h1 class="page-title">站点管理</h1>
    </div>
    <div class="page-content">
        <div class="panel">
            <div class="panel-heading">添加站点信息</h3>
            </div>
            <div class="panel-body">

                <div class="example">
                    <form class="form-horizontal" id="frm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="color:black;">名称: </label>
                            <div class="col-sm-9">
                                <input style="width:500px;" type="text" class="form-control" name="cname"  autocomplete="off"
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="color:black;">百度关键字: </label>
                            <div class="col-sm-9">
                                <input style="width:500px;" type="text" class="form-control" name="baidu_keyword"  autocomplete="off"
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="color:black;">百度简介: </label>
                            <div class="col-sm-9">
                                <textarea style="width:500px;" type="text" name="baidu_intro"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="color:black;">版权所有: </label>
                            <div class="col-sm-9">
                                <input style="width:500px;" type="text" class="form-control" name="copyright"  autocomplete="off"
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="color:black;">客服邮箱: </label>
                            <div class="col-sm-9">
                                <input style="width:500px;" type="text" class="form-control" name="email"  autocomplete="off"
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="color:black;">客服电话: </label>
                            <div class="col-sm-9">
                                <input style="width:500px;" type="text" class="form-control" name="telphones"  autocomplete="off"
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="color:black;">客服qq: </label>
                            <div class="col-sm-9">
                                <input style="width:500px;" type="text" class="form-control" name="qq"  autocomplete="off"
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="color:black;">客服工作时间: </label>
                            <div class="col-sm-9">
                                <input style="width:500px;" type="text" class="form-control" name="worktime"  autocomplete="off"
                                />
                            </div>
                        </div>
                        <div class="form-group" style="display:none;">
                            <label class="col-sm-3 control-label" style="color:black;">状态: </label>
                            <div class="col-sm-9">
                                <input style="width:500px;" type="text" class="form-control" name="status"  autocomplete="off"
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="color:black;">logo图标: </label>
                            <div class="input-group input-group-file">
                                <input id="path" style="width:500px; margin-left:12px;" type="file"  onchange="javascript:imgread(this,this.name,this.nextSibling)" name="logo_path"  autocomplete="off"
                                /><img style="height:100px;width:100px;display:none"  id="img" src=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" style="color:black;">微信二维码图片: </label>
                            <div class="input-group input-group-file">
                                <input id="path1" style="width:500px; margin-left:12px;" type="file"  onchange="javascript:imgread(this,this.name,this.nextSibling)" name="weblogo"  autocomplete="off"
                                /><img style="height:100px;width:100px;display:none"  id="img1" src=""/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <button type="button" id="bt" class="btn btn-primary">确认添加</button>
                                <button id="cbt" style="margin-left: 20px;" type="reset" class="btn btn-default btn-outline">取消添加</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- End Page -->


<include file='../Application/Admin/View/Layouts/footer.html'/>

<script>
    function imgread(obj,name,sobj){  //obj 当前选择器 当前选择器的name值 当前选择器的下一个兄弟节点
        var datas=new FormData();
        datas.append(name,$(obj)[0].files[0]);
//判断是否更换
        var pathname=$(sobj).attr("src");  //更换前的照片地址
        if(pathname!=""){
            datas.append('path',pathname);
        }
        $.ajax({
            url:'imgread',//当前控制器的方法名
            data:datas,
            dataType:'json',
            processData:false,//提示JQ库不处理发送的数据
            contentType:false,//提示JQ库不设置Content-Type请求头
            type:'post',
            success:function (re) {
                $(sobj).attr("src",re.msg);
                $(sobj).show();
            },
            error:function () {
                alert("系统崩溃")
            }
        });

    }

    $(function(){
        $("#bt").click(function(){
            var needpath=$("#img").attr("src");
            var needpath1=$("#img1").attr("src");

            if(needpath=="" || needpath1==''){
                alert("请选择图片");
            }else{
                $.ajax({
                    url:'save',
                    data:$("#frm").serialize()+"&logo_path="+needpath+"&weblogo="+needpath1,
                    type:'post',
                    dataType:'json',
                    success:function(re){
                        if(re.info===true){
                            alert('信息上传成功');
                            window.location.href='oper';
                        }
                    }
                });
            }
        })

        $("#cbt").click(function(){
            var needpath=$("#img").attr("src");
            var needpath1=$("#img1").attr("src");
            if(needpath!=""){
                $.ajax({
                    url:'csave',
                    data:"imgpath="+needpath+"&imgpath1="+needpath1,
                    type:'post',
                    dataType:'json',
                    success:function(re){
                        if(re.info===true){
                            alert("取消成功");
                            $("#img").attr("src","");
                            $("#img").hide();
                            $("#img1").attr("src","");
                            $("#img1").hide();
                        }
                    }
                });
            }
        })
    })
</script>

<!--<script type="text/javascript" src="/Application/Admin/View/Layouts/assets/readimg.js"></script>-->
