.pageName{
	border-bottom: none;
}
.weui-btn_primary{
	background-color: #fd908f;
}
.Sbutton{
	margin-top: 30%;
}
#area{
	font-size: 14px;
}
.weui-textarea-counter span,.weui-textarea-counter{
	font-size: 14px;
}